.headerBase {
  background-color: #003580;
  color: white;
}

.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem;
  font-weight: bold;
  font-size: large;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 15px;
}

.mobileNav{
    display: none;
}

.burgerButton {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .burgerButton {
    display: block;
  }

  .burger{
    filter: invert(1) brightness(200%);
  }

  .mobileNav{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding:1rem 2rem;
    gap:0.8rem;
    font-weight:bold ;
    font-size: 15px;
  }
}
